html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.ml-2 {
  margin-left: 0.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.line-dec {
  width: 30px;
  height: 5px;
  margin-bottom: 1.1rem;
  background-color: #63296C;
}

.line-dec- {
  width: 30px;
  height: 5px;
  margin-bottom: 1.1rem;
  background-color: #EC1D5C;
  margin-left: calc(var(--bs-gutter-x) * .5);;
}

.sub-vol {
  color: gray;
  font-style: italic;
}

.text-title {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.card-title {
  font-weight: 700;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 13rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.title h2 {
  font-weight: 700;
}

[data-overlay] {
  position: relative;
}

[data-overlay]::before {
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[data-overlay="1"]::before {
  opacity: 0.4;
}

.carousel-caption .btn {
  margin: 8px;
}

.boton-slider {
  background-color: #63296C !important;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.boton-slider:hover,
.boton-slider:focus {
  background-color: #43154a !important;
  border: none;
  box-shadow: none;
  box-shadow: 0 0 0 0 !important;
  color: white;
}

.boton-slider-2 {
  background-color: #EC1D5C !important;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.boton-slider-2:hover,
.boton-slider-2:focus {
  background-color: #b90c41 !important;
  border: none;
  box-shadow: none;
  box-shadow: 0 0 0 0 !important;
  color: white;
}

.titulo-caption {
  color: #EC1D5C;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.subtitulo-caption {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0rem;
  font-weight: 700;
}

.text-caption {
  color: #fff;
  font-size: 1.4rem;
}

#top {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: black !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nav-item a {
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.main-menu {
  padding-right: 50px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin-top: 1.2rem;
}

.nav-item a:hover {
  color: #62bc0f !important;
}

.container-paginas {
  margin-top: 10rem;
}

.dropdown-menu {
  background-color: white;
  margin-top: 0.8rem;
}

.dropend a {
    color: grey !important;
    text-decoration: none
}

.dropdown-menu.clicked {
  display: none;
}

.btn-secundario {
  background-color: white;
  color: gray !important;
  text-decoration: none;
  border-color: white;
  font-size: 1rem !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.dropdown,
.dropend,
.dropstart,
.dropup {
  position: relative;
  text-align: center;
}

.btn-secundario:hover {
  color: #62bc0f !important;
  background-color: white;
  border-color: white;
}

.btn-check:active + .btn-secundario,
.btn-check:checked + .btn-secundario,
.btn-secundario.active,
.btn-secundario:active,
.show > .btn-secundario.dropdown-toggle {
  color: #62bc0f !important;
  background-color: white !important;
  border-color: white !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-secundario:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.nav-item .dropdown-item {
  color: gray !important;
  text-align: center !important;
}

.nav-item .trigger {
  color: gray !important;
  text-align: center !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #62bc0f;
  text-decoration: none;
  background-color: #ffffff38 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #62bc0f;
  text-decoration: none;
  background-color: #ffffff38 !important;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  display: none;
  margin-top: -1px;
  margin-left: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: #fff;
  box-shadow: none;
}

.dropdown-menu .sub-menu-dos {
  left: 100%;
  position: absolute;
  top: 0;
  display: none;
  margin-top: 9rem;
  margin-left: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: #fff;
  box-shadow: none;
}

.right-caret:after,
.left-caret:after {
  content: "";
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
  margin-left: 5px;
}

.right-caret:after {
  border-left: 5px solid gray;
}

.left-caret:after {
  border-left: 5px solid gray;
}

.navbar-light .navbar-brand {
  color: rgb(251 251 251 / 90%);
}

.img-thumbnail-center {
  width: 100%;
  margin-bottom: 7%;
}
.card-contacto {
  background-color: #fff !important;
}

.card-contacto .card-header {
  background-color: #fff !important;
}

.card-contacto {
  border: 1px solid #dbdbdb;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-contacto .card-text {
  font-size: 1.02rem;
  font-weight: 500;
}

.card-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px dotted rgb(94 94 94 / 24%);
}

.testimonio-icon {
  text-align: center!important;
  color: #4caf50;
  font-size: 2rem;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-icon {
  color: #63296C;
  margin-bottom: 2px;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  background-color: black;
  color: white;
}

.footer h5 {
  margin-bottom: 1rem;
}

.footer p {
  color: grey;
  margin-bottom: 0.4rem;
  font-size: 0.92rem;
}

.footer .p-correos {
  color: grey;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.footer .nav-link {
  color: grey;
  margin-bottom: 0.4rem !important;
  padding: 0rem !important;
}

.footer .nav-link:hover {
  color: #62bc0f;
  margin-bottom: 0.4rem !important;
  padding: 0rem !important;
}

.footer span {
  color: #62bc0f;
  font-weight: 500;
}

.footer-icon {
  color: #62bc0f;
  font-size: 1.2rem;
  margin-bottom: 2px;
  margin-right: 10px;
}

.img-galeria {
  width: 5.5rem;
  margin-bottom: 8px;
  margin-right: 8px;
}

.pl-2 {
  padding-left: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.btn-ubicaciones {
  color: white;
  background-color: #63296C;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 1.5rem;
  margin-top: 0.4rem;
  margin-left: 0.9rem;
  font-weight: 500;
  width: auto;
}

.btn-ubicaciones:hover {
  color: white;
  background-color: #43154a;
}

.btn-dispositivos {
  color: white;
  background-color: #EC1D5C;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 1.5rem;
  margin-top: 0.4rem;
  margin-left: calc(var(--bs-gutter-x) * .5);
  font-weight: 500;
  width: auto;
}

.btn-dispositivos:hover {
  color: white;
  background-color: #b90c41;
}

.p-testimonio {
  padding-top: 0.5rem!important;
  margin-bottom: 0.5rem;
}

.p-dispositivos {
  font-size: 1.1rem;
}

.contacto-a {
  color: #525252;
}

.contacto-a:hover {
  color: #000000;
}

.a-correos {
  color: grey;
  text-decoration: none!important;
}

.a-correos:hover {
 color: #cccccc;
}

.p-testigo {
  color: #6a6a6a;
  text-align: right;
}

.form-control {
  margin-bottom: 10px;
}

.card-pcausas {
  width: 20rem;
}

.card-colabora {
  flex: 1 1 auto;
  padding: 3rem 0.8rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #dbdbdb;
}

.card-colaborar {
  flex: 1 1 auto;
  padding: 2.05rem 0.8rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #dbdbdb;
  height: 200px;
}

.card-contactos {
  flex: 1 1 auto;
  padding: 3rem 0.8rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #dbdbdb;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.title-contactos {
  font-weight: 700;
  color: #EC1D5C;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted rgb(94 94 94 / 24%);
}

.text-contacto {
  color: #525252;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

.text-colabora {
  color: #525252;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  font-size: 1.04rem;
}

.subtitulo-dispositivos {
  font-style: italic;
  color: #898989;
  font-size: 1.05rem;
}

.contacto-icon {
  margin-right: 10px;
  color: #303030;
}

.icon-colabora {
  color: #EC1D5C;
  font-size: 2rem;
}

.width-height{
  width: 430px;
  height: 320px;
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 0.2rem !important;
  }

  .md-none {
    display: none;
  }
}

@media (max-width: 767px) {
  .md-footer {
    margin-bottom: 2rem;
    margin-left: 10%;
    max-width: 80%;
    margin-right: 10%;
  }

  .md-contacto {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-left: 10%;
    max-width: 80%;
    margin-right: 10%;
  }

  .title {
    margin-top: 2rem;
  }

  .img-dispositivos iframe {
    max-width: 99%;
    height: 300px;
    margin-top: 10px;
  }

  .img-thumbnail-center {
    max-width: 99%;
    margin-left: 1%;
    margin-right: 1%;

  }

  .testimonio {
    max-width: 94%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1rem !important;
  }
  
  .card-contacto {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .card-contactos {
    width: 440px;
  }
  
  .movil {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .carousel {
    margin-top: 15%;
    position: relative;
  }
  
  .titulo-caption {
    font-size: 2.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .subtitulo-caption {
    font-size: 1.8rem;
  }
  
  .carousel-caption {
    margin-top: 10%;
  }
  
  .card-pcausas {
    width: 95% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
  
  .img-fluid {
    max-width: 95%;
    height: auto;
  }
}
